<% if @project.errors.any? %>
  <p class='error-header'>
    <strong>The following <%= pluralize( @project.errors.size, 'error')%> prevented saving your project:</strong>
    <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li class='alert'><%= msg %></li>
      <% end %>
    </ul>  
  </p> 
<% end %>