<% if object.errors.any? %>
  <p class='error-header'>
    <strong>The following <%= pluralize( object.errors.size, 'error')%> prevented saving:</strong>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li class='alert'><%= msg %></li>
      <% end %>
    </ul>  
  </p> 
<% end %>