<tr>
  <td><%= link_to ticket.name, ticket_path(ticket) %></td>
  <td>assignee when we get to it</td>
  <td><%= ticket.status %></td>
  <td>tags when we get there</td>
  <td><%= link_to  "Edit", edit_ticket_path(ticket) %></td>
  <td><%= link_to  "Delete", ticket_path(ticket), method: :delete %></td>
</tr>