<td>
  <p><strong><%= link_to project.name,  project_path(project) %></strong></p>
  <p><%= project.description %></p>
</td>  
<td>
  <%= open_tickets_count(project.tickets) %>
</td>
<td>
  <%= all_tickets_count(project.tickets) %>
</td>